// ----------------------------------------------------------------------------
// Launch at startup
// ----------------------------------------------------------------------------

spawn-at-startup "quickshell"
spawn-at-startup "dunst"

