// ----------------------------------------------------------------------------
// Overview
// ----------------------------------------------------------------------------

overview {
    zoom 0.5
    backdrop-color "#777777"
    workspace-shadow {
        off
    }
}
