window#waybar.top * {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}
window#waybar.bottom * {
    border: none;
    border-radius: 0px;
    padding: 4px;
    opacity: 0.96;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    text-shadow: 1px 1px 2px black;
}

window#waybar {
    background: transparent;
    color: #ffffff;
    transition-property: background;
    transition-duration: .5s;
}

#workspaces button {
    background: #171717;
    color: #ffffff;
}
#workspaces button.active {
    background: #c0caf5;
    color: #171717;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,

#mpd {
    padding: 0 10px;
    color: #ffffff;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {
    background: #171717;
    color: #ffffff;
}

#battery {
    background: #171717;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background: #26A65B;
}

@keyframes blink {
    to {
        background: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background: #000000;
}

#cpu {
    background: #171717;
    color: #ffffff;
}

#memory {
    background: #171717;
    color: #ffffff;
}

#disk {
    background: #171717;
    color: #ffffff;
}

#network {
    background: #171717;
    color: #ffffff;
}

#network.disconnected {
    background: #171717;
    color: red;
}

#pulseaudio {
    background: #171717;
    color: #ffffff;
}

#pulseaudio.muted {
    background: #171717;
    color: red;
}

#custom-media {
    background: #171717;
    color: white;
}

#custom-media.custom-spotify {
    background: #171717;
    color: white;
}

#custom-media.custom-vlc {
    background: #171717;
    color: white;
}

#temperature {
    background: #171717;
    color: #ffffff;
}

#temperature.critical {
    background: #eb4d4b;
}

#tray {
    background: #171717;
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background: #171717;
    color: #ffffff;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #171717;
    color: #ffffff;
}

#custom-splash {
    background: transparent;
    color: #ffffff;
}
